.header {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding: 20px;
    max-height: 100px;
    box-shadow: 0 1px 3px rgb(210, 210, 210);
    background-color: #2B2D42;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo {
    font-size: 1.5rem;
}
.nav ul { 
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.cart {
    margin-left: auto;
    margin-right: 20px;
    position: relative;
}
.nav ul li:hover:not(:nth-child(3)) {
    border-bottom: 1px solid #FF6B6B;
}
.nav ul li {
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: inherit;
}
svg {
    width: 30px;
    height: 25px;
    vertical-align: -4px;
    margin: 0 auto;
}
.cartNum {
    background-color: red;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 0.75rem;
    border-radius: 50%;
    position: absolute;
    top: -18px;
    right: -15px;
}