html {
    font-size: 24px;
}
body {
    background-color: #F8F9FA;
    line-height: 1.5;
}
:root {
    --toastify-toast-top:100px;
    --toastify-color-progress-light: #F44336;
}
@media(max-width:800px){
    html {
        font-size: 21px;
    }
}
@media(max-width:600px){
    html {
        font-size: 18px;
    }
}
@media(max-width:450px){
    html {
        font-size: 16px;
    }
}